.main {
  padding: 1rem;
}

.subcategory {
  display: flex;
  align-items: center;

  > span {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;

  }
  input:not(:checked) {
    margin-bottom: 0;
    
    + span {
      input,
      button {
        display: none;
      }
    }

  }

  input:checked + span {
    span {
      display: none;
    }

    input {
      display: block;
    }
  }
}
