.main {
  padding: 1rem;

  > ul {
    padding-left: 0;
  }

  ul {
    li {
      list-style: none;
    }
  }
}

.categoryItem {
  display: flex;
  align-items: center;
  width: 100% !important;
  height: 50px;

  > span {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
    
  input {
    + span {
      white-space: nowrap;
      
      input,
      button {
        transition: opacity 0.15s;
        margin-bottom: 0;
      }
    }

  }

  input:not(:checked) {
    margin-bottom: 0;
    
    + span {
      input,
      button {
        visibility: hidden;
        opacity: 0;
      }
    }

  }

  input:checked + span {
    span {
      display: none;
    }
    
    input,
    button {
      opacity: 1;
    }
  }
}
