header,
main,
footer {
    padding: 1rem;
}

header {
    background-color: var(--pico-primary-background);

    h1 {
        color: white;
        font-size: 1.25rem;
        margin: 0;
    }
}

[popover] {
    border: none;
    background: transparent;
}

dialog,
[popover] {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
        overlay 0.5s ease-in-out allow-discrete,
        display 0.5s ease-in-out allow-discrete;

    opacity: 0;
    transform: translateY(1em);
}

dialog {
    &::backdrop {
        transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete,
            background-color 0.5s;
        background-color: hsl(0 0 0 / 0);
    }

    &[open]::backdrop {
        background-color: hsl(0 0 0 / 50%);
    }
}

dialog[open],
[popover]:popover-open {
    opacity: 1;
    transform: translateY(0);
}

@starting-style {

    dialog[open],
    [popover]:popover-open {
        opacity: 0;
        transform: translateY(-1em);
    }

    dialog[open]::backdrop {
        background-color: hsl(0 0 0 / 0);
    }
}