header,
footer {
    padding: 1rem;
}

header {
    background-color: var(--pico-primary-background);
    display: flex;
    justify-content: space-between;
    align-items: center;

    --pico-contrast-hover: white;
    --pico-contrast: white;

    button svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    h1 {
        color: white;
        font-size: 1.25rem;
        margin: 0;
    }
}

main {
    padding-top: 1rem;
}

.main__wrapper {
    padding: 0 1rem;
}


[popover] {
    border: none;
    background: transparent;
}

dialog,
[popover] {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
        overlay 0.5s ease-in-out allow-discrete,
        display 0.5s ease-in-out allow-discrete;

    opacity: 0;
    transform: translateY(1em);
}

dialog {
    &::backdrop {
        transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete,
            background-color 0.5s;
        background-color: hsl(0 0 0 / 0);
    }

    &[open]::backdrop {
        background-color: hsl(0 0 0 / 50%);
    }
}

dialog[open],
[popover]:popover-open {
    opacity: 1;
    transform: translateY(0);
}


.left-panel:popover-open {
    opacity: 1;
    transform: translateX(0);
}

@starting-style {

    dialog[open],
    [popover]:popover-open {
        opacity: 0;
        transform: translateY(-1em);
    }

    .left-panel:popover-open {
        opacity: 0;
        transform: translateX(-100%);
    }

    dialog[open]::backdrop {
        background-color: hsl(0 0 0 / 0);
    }

    .left-panel:popover-open {
        transform: translate(-100%, 0);
    }
}

.left-panel {
    width: max(90%, 20rem);
    height: 100%;
    margin: 0;
    background-color: var(--pico-background-color);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    transform: translateX(-100%);
}

button {
    svg {
        width: 1em;
        height: auto;
    }
}

.twoCols {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}