header,
main,
footer {
    padding: 1rem;
}

header {
    background-color: var(--pico-primary-background);

    h1 {
        color: white;
        font-size: 1.25rem;
        margin: 0;
    }
}

*[popover] {
    border: none;
    background: transparent;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.modal-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    button {
        margin-bottom: 0;
    }
}